# .coveragerc to control coverage.py

[run]
branch = True
source = hgp
omit = ./hgp/examples/*.py, ./hgp/notebooks/*.py, ./hgp/tests/*.py, ./hgp/__version__.py, setup.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True