[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
numpy = "*"
tfgp = {editable = true,path = "."}

[dev-packages]
coverage = "*"
IPython = "*"
jupyter = "*"
matplotlib = "*"
pytest = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-pep8 = "*"
pytest-pylint = "*"
scikit-learn = ">=0.20"
scipy = "*"
seaborn = "*"
