[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[scripts]
test = "pytest --disable-pytest-warnings --codestyle --flakes --mypy"

[packages]
IPython = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
scikit-learn = ">=0.20"
scipy = "*"
seaborn = "*"
hgp = {editable = true,path = "."}
tensorflow = ">=1.12.0,<2.0"
tensorflow-probability = ">=0.5.0"
pods = "==0.0.2a"

[dev-packages]
codecov = "*"
pytest = "*"
pytest-codestyle = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mypy = "*"
