[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[scripts]
test = "pytest --disable-pytest-warnings --codestyle --flakes --mypy"

[packages]
IPython = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
scikit-learn = ">=0.20"
scipy = "*"
seaborn = "*"
hgp = {editable = true,path = "."}
tensorflow = "==1.14.0"
tensorflow-estimator = "==1.14.0rc1"
tensorflow-probability = "==0.7.0rc0"
pods = "==0.0.2a"

[dev-packages]
codecov = "*"
pytest = "*"
pytest-codestyle = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mypy = "*"
comet-ml = "*"
